<h1>New User</h1>
<% if @user.errors.any? %>
  <div style="color: red">
    <h4><%= pluralize(@user.errors.count, "error") %> prohibited you from being registered:</h4>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :email_confirmation %><br>
    <%= form.text_field :email_confirmation %>
  </div>

  <div>
    <%= form.label :gender %><br>
    <%= form.radio_button :gender, "male" %> 
    <%= form.label :gender, "Male" %><br>
    <%= form.radio_button :gender, "female" %>
    <%= form.label :gender, "Female" %><br>
  </div>

  <div>
    <%= form.label :t_size %><br>
    <%= form.text_field :t_size %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.select :age, options_for_select(1..30)%>
  </div>

   <div>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :country %><br>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.check_box :terms_and_conditions%>
    <%= form.label :terms_and_conditions %>
    
  </div>


  
  <div>
    <%= form.submit %>
  </div>
<% end %>